@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap'); 
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    width: auto;
}
 h1{
    margin-top: 2em;
    margin-bottom: 0;
    font-size: 45em;
    text-shadow: 4px 1px 1px rgb(18, 145, 196);
    color: rgba(0, 0, 0, 0.801);
    font-family: "Radio Canada Big", sans-serif;
    
}
.header{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.957);
   /* font-size: 2.5em;*/
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 70vh;

    background-image: url('../img/SVG1.svg');
    background-repeat: no-repeat;
    background-position:center; 
    background-size: 65em;
    background-attachment:fixed;  
}
.reference> p{
    font-size: 1.6em;
    display: flex;
    align-items: center;
    align-items: center;
    flex-direction: column;

}
.base-inf{
    min-height: 30vh;
    background-color: var(--primary-color);
    color: rgb(0, 0, 0);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
   
}
.header-inf {
    font-size: 1em;
    margin-top: 1.5em;
    margin-bottom: 0;
    width: 95%;
    margin: auto;

}
.header-inf h2{
    margin: 0;
    padding: .6em;
}
.txt-inf {
    font-size: 1.2em;
    margin-top: 0; 
    padding: .1em;
    box-sizing: border-box;
    color: black;
    width: 94%;
    display: flex;
    align-items:baseline;
    justify-content: space-between;
    padding: .6em;
    flex-wrap: wrap;
}
.txt-inf a{
    border: 1px solid;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: .5em;
    text-decoration: none;

}
.txt-inf a:hover{
    color: rgb(255, 255, 255);
    background-color: #25d366;
    transition: .2s;
}
.top-main{
    text-align: center;
    padding: 1.5em;  
    box-sizing: border-box;
}
.cab-main{
    font-size: 2.6em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.432);
}
.test-main{
    font-size: 2em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.432);
}
.foto{
    width: 17.5em;
    height: 13em;
    /* position: relative;
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
     */
}
.foto> img{
    width: 17.5em;
    height: 12em;
    position: sticky;
    left: 0;
    flex-shrink: 0;
    object-fit: cover;
    scroll-behavior: smooth;
    
}
.car-grup{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2em ;
    gap: 3em;
    margin-bottom: 2em;
    max-width: 100%;
    min-height: 90vh;
    background-color: var(--primary-color);
}
.inst{
    width: 30em;
    height: 30em;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2em;
    box-sizing: border-box;
    margin-bottom: .6em;
    border-radius: 6px;
    background-color: white;
    box-shadow: 2px 2px 6px 5px rgba(0, 0, 0, 0.123);
}
.inst:hover{
    transition: .5s;
    box-shadow: 2px 2px 6px 9px rgba(0, 0, 0, 0.349);

}
.inst img{
    border-radius: 1em;
}
.carta .banner-header{
    text-align: center;
    font-size: 2em;
}
.banner-body{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 25vh;
}
.banner-body img{
    width: 12.5em;
    padding: 2px;
    box-sizing: border-box;
    gap: 1em;

}
.tipoServiço ul li{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: start;
    justify-content: start;
    padding-bottom: 1em;
}
.text-option{
    text-align: center;
    margin: 12px 0;
    font-size: 2.6em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.432);
}
summary::-webkit-details-marker {
    display: none;
    
  }
summary:after {
    background: black; 
    content: "+"; 
    color: #fff; 
    float: left;  
    font-weight: bold; 
    padding: 0; 
    text-align: center; 
    width: 20px;
    left: 20px;
    margin-right: 10px;
    
  }
details[open] summary:after {
    content: "-"; 
  }
summary{
    list-style-type: none;
    border-bottom: 2px solid rgb(0, 174, 255);
    border-radius: 4px;
    width: 80%;
    margin: auto;
    margin-bottom: .5em;
    padding: .3em; 
    font-size: 1em;
  }
  summary:hover{
    transition: .5s;
    border-bottom: 2px solid red;
  }
  details{
    margin-bottom: .3em;
  }
  summary ul li{
    font-size: 25pt;
  }
.contato{ 
   width: 100%;
   min-height: 50vh;
   background-color: var(--primary-color);
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   font-size: 1.5em;
   margin-top: 2em;
}
.geralcontato{ 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1em;

}
.con{ 
    border-radius: 6px;
    width: 16em;
    padding: 1em;
    box-sizing: border-box;
    transition: .5s;
    text-align: center;
    display: flex;
    align-items: flex-start;
    /* box-shadow: 1px 2px 8px 1px #00aeff; */
    background-image: linear-gradient( #00aeff 5%, #00aeffb9 20%, #ffffff 70%);
    margin-top: 2em;

    
}
.con ul li {
    list-style: none;
    
}
.con a{
    color: black;
    font-size: .8em;
}
.con a:hover{
    color:rgb(0, 174, 255);
}
.empresas-parceiras{ 
    width: 25em;
    padding: 1.6em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}
.empresas-parceiras iframe{    
    flex-wrap: wrap;
    padding: .5em;
    box-sizing: border-box;
}
.footer{


    margin-top: 2px;
    min-height: 30vh;
    color: #fff;
    background-color: black;
    display: flex;
    line-height: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
 h6{
    margin-top: 35px;
 }
.modal-body{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: .5em;
    box-sizing: border-box;
}
.h2{
    align-items: center;
}
.modal-body {
    min-width: 70vh;
    height: 50%;
}
iframe{
    border-radius: 15px;
    width: 60vh;
    min-height: 60vh;
   
}